
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.2/echarts.min.js" integrity="sha512-VdqgeoWrVJcsDXFlQEKqE5MyhaIgB9yXUVaiUa8DR2J4Lr1uWcFm+ZH/YnzV5WqgKf4GPyHQ64vVLgzqGIchyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>



<div id="plot" style="width: 100%; min-height: 800pt;"></div>
<script type="text/javascript">

    console.log("AAAAA");
    var myChart = echarts.init(document.getElementById('plot'), null, { renderer: 'svg' });

    console.log("DATA");
    $.get('./measured_data/', function (data) {
      console.log(data);

      option = {
      xAxis: [{
          type: 'time',
          name: 'Time',
          gridIndex: 0
      }, 
      {
          type: 'category',
          name: 'channel',
          gridIndex: 1,
      }],

      yAxis: [{
        type: 'value',
        name: 'CTS',
        position: 'left',
        axisLabel: {
          formatter: '{value} cts'
        },
        gridIndex: 0
      },{
        type: 'value',
        name: 'Altitude',
        position: 'right',
        axisLabel: {
          formatter: '{value} m'
        },
        gridIndex: 0
      },{
        type: 'value',
        name: 'CTS',
        position: 'left',
        axisLabel: {
          formatter: '{value} CTS'
        },
        gridIndex: 1
      }],


      tooltip: {
        trigger: 'axis',
        axisPointer: { type: 'cross' }
      },
      toolbox: {
        feature: {
          dataZoom: {
            yAxisIndex: false
          }
        }
      },

      grid: [
        {
          id: 'time',
          left: '10%',
          right: '10%',
          bottom: '55%'
        },
        {
          id: 'spectrum',
          left: '10%',
          right: '10%',
          top: '55%'
        }
      ],

      dataZoom: [
          {
              id: 'dataZoomX',
              type: 'slider',
              xAxisIndex: [0],
              filterMode: 'filter'
          },
          {
              id: 'dataZoomY',
              type: 'slider',
              yAxisIndex: [0],
              filterMode: 'filter'
          }
      ],
      
      legend: {
          type: 'scroll',
          orient: 'vertical',
          right: 10,
          top: 20,
          bottom: 20,
          //data: data.legendData
      },
      series: [],
      animation: false,
      }

      
      for(d in data){
        dat = data[d]
        dat.xAxisIndex = 0;
        dat.yAxisIndex = 0;
        option['series'].push(dat);
      }
      //option['series'] = data;
      myChart.setOption(option);
      updateSpectrum(0, 0);
    
    }).fail(function(xhr, textStatus, errorThrown) {
      console.log(xhr);
      console.log(textStatus);
      console.log(errorThrown);
      alert( "error");
  });



function updateSpectrum(from, to){
  $.get('./measured_spectra/', {'start': from, 'end': to}, function (data) {
      console.log(data);
      ser = []

      s = myChart.getOption().series

      for(d in data){
        dat = data[d]
        console.log("...", d);
        console.log(dat);

        name = 'spectra_'+d
        series_obj = {
              name: name,
              data: Object.values(dat),
              xAxisIndex: 1,
              yAxisIndex: 2,
              type: 'line'
            }

        if( s.some(e => e.name == name) ){
          // Zaktualizuj to..
          for(series in s){
            if(s[series].name == name){
              s[series] = series_obj;
              break;
            }
          }
        } else {
          console.log("PUSH")
          console.log(series_obj)
          s.push(series_obj)
        }
      }

      console.log(s)
      myChart.setOption({series: s});

      // myChart.setOption({
      //   xAxis: [{
      //     name: 'channel',
      //     data:  Object.keys(data[0])
      //   }],
      // });

    });
}


myChart.on('dataZoom', function (params) {
    console.log(params);
    var start = params.start;
    var end = params.end;

    z = myChart.getOption().dataZoom[0]
    updateSpectrum(z.startValue/1000, z.endValue/1000);

});

  </script>

<hr>


{% endblock %}
