

{% extends "base.html" %}

{% block content %}
<span class="pt-3">Flight: <span class="h1">{{ flight }}</span> {% if user.is_authenticated %}<a href="{{detector.get_admin_url}}">  <i class="bi bi-pencil"></i></a>{%endif%}</span>
<h3 class="text-muted small"> ID: {{ flight.id }}</h3>
<h3 class="text-muted small"> takeoff (scheduled): {{ flight.departure_time }}</h3>
<h3 class="text-muted small">{{ flight.takeoff }} -> {{flight.land}}</h3>
<hr>

Mereni:
{{flight.measurement}}

<br>
{%if flight.cari%}
<div class="card">
  <div class="card-header">

  </div>
  <div class="card-body">

  </div>

</div>

{%endif%}

</div>

{% endblock %}
