services:
  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
    image: dosportal-backend:local

  frontend:
    build:
      context: .
      dockerfile: frontend.dev.Dockerfile
    image: dosportal-frontend:local
