django
django-bootstrap-v5
psycopg2
matplotlib
basemap

djangorestframework
django-cors-headers
django-jquery
django-import-export
django-select2
djangorestframework
martor
markdown
django-filter

pandas 
numpy
plotly
gpxpy