django
django-bootstrap-v5
psycopg2
matplotlib
#basemap

djangorestframework
django-cors-headers
django-jquery
django-import-export
django-select2
djangorestframework
django-json-widget
django-tables2
martor
markdown
django-filter
django-q

redis

pandas 
numpy
plotly
gpxpy
