
{% extends "base.html" %}
{% load martortags %}

{% block content %}

<p>Username: {{ user.username }} {% if user.is_authenticated %} <a href="{{ user.get_admin_url }}"><i class="bi bi-pencil"></i></a>{%endif%}</p>
<p>Email: {{ user.email }}</p>
<p>First Name: {{ user.first_name }}</p>
<p>Last Name: {{ user.last_name }}</p>


<h3> Organisations: </h3>
<div> 

{% for a in user.organization_users.all %}

<a href="{{a.organization.get_absolute_url}}">{{a}}</a><br>
{% endfor %}


</div>

<hr>
<h2>Maintainer of detectors:</h2>

TODO:

<h2>Author of measurements</h2>

TODO:



{{user }}

{% endblock %}
