{% extends 'base.html' %}
{%load static %}

{% block title %}Home{% endblock %}

{% block content %}


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="background-image: url({% static 'img/SPACEDOS01.jpg' %}); background-size:cover; display: flex; padding: 0pt !important;" >
  <div style="backdrop-filter: blur(3px); padding: 3rem; width: 100%;">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 fw-normal">Welcome{% if user.is_authenticated %} <b>{{ user.username }}</b>,{%endif%} to DOSPORTAL. </h1>
    <p class="lead fw-normal">Page, where you can visualizate, store, share or compare your dosimetry data.</p>
  </div>
</div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div>

  <h3>About DOSPORTAL</h3>
  <p>
    This web application has been developed and maitained by <a href="https://www.ust.cz">UST (Universal Scientific Technologies s.r.o.)</a>, a company specializing in the manufacturing and development of both semiconductor and scintillation detectors. Our extensive range of detectors includes SPACEDOS, AIRDOS, and LABDOS, which are designed to meet the diverse needs of scientific applications.
  </p>
  <p>
    Semiconductor detectors, based on solid-state physics principles, utilize semiconductor materials to detect radiation. These detectors offer excellent energy resolution and are widely used in fields such as nuclear physics, materials science, and environmental monitoring.
  </p>
  <p>
    Scintillation detectors, on the other hand, employ scintillating materials that emit light when interacting with radiation. These detectors are highly efficient and find applications in areas such as medical imaging, homeland security, and nuclear power plants.
  </p>
  <p>
    UST collaborates closely with the <a href="https://odz.ujf.cas.cz/">Nuclear Physics Institute</a> of the Czech Academy of Sciences to develop advanced detectors. This collaboration ensures that our detectors meet the rigorous standards required for scientific research and personal dosimetry.
  </p>
  <p>
    This website serves as a comprehensive portal for accessing fundamental information about measurements conducted with our detectors. Users can browse through individual records or contribute their own measurements to further scientific understanding.
  </p>
  <p>
    For more in-depth information about our detectors, please visit the <a href="https://www.ust.cz/UST-dosimeters/">official UST website</a> or refer to the <a href="https://docs.dos.ust.cz/">documentation</a> pages, where you will find detailed specifications and technical details about our semiconductor and scintillation detectors.
  </p>

</div>


{% endblock %}