{% extends "base.html" %}
{% load filters %}
{% block content %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script charset="utf-8" src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>

<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Records</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ record.id }}</li>
    </ol>
</nav> -->

<div class="card my-4">
    <div class="card-header d-flex justify-content-between">
        <span> Record: <span class="text text-bold">{{record.log_original_filename}}</span> <span
                class="text-muted">({{record.id}}) </span></span>
        <span class="text-muted">
            {% if user.is_authenticated %}
            <a href="{{record.get_admin_url}}"><i class="bi bi-pencil"></i></a>
            {%endif%}
        </span>
    </div>
    <div class="card-body">

        <table class="table table-borderless">
            <tbody>
              <tr>
                <td class="w-auto">Detector:</td>
                <td class="">{{ record.detector.formatted_label | safe }}</td>
              </tr>
              <tr>
                <td class="w-auto">Record start time:</td>
                {% if record.time_tracked %}
                    <td class="">{{ record.time_start }}</td>
                {% else %}
                    <td class="text-muted text-small">Time is not tracked for this record</td>
                {% endif %}
              </tr>
              <tr>
                <td class="w-auto">Record duration:</td>
                <td class="">{{ record.record_duration }}</td>
              </tr>
              <tr>
                <td class="w-auto">Type:</td>
                <td class="">{{ record.get_record_type_display }}</td>
              </tr>
              <tr>
                <td class="w-auto">Author/Organization:</td>
                <td class=""> <a class="btn btn-sm btn-outline-info" href="/user/{{record.author.username}}"> {{record.author}} </a>  <a class="btn btn-sm btn-outline-success" href="{{record.belongs.get_absolute_url}}">{{ record.belongs }} </a> </td>
              </tr>
              <tr>
                <td class="w-auto">Log file:</td>
                <td class="">{{record.log_original_filename}} ({{ record.log_file | filesize_mb }})</td>
                {% if record.description|length > 1 %}<tr>
                    <td class="w-auto">Description:</td>
                    <td class=""><div class="callout m-0 p-2">{{record.formatted_markdown | safe }}</div></td>
                </tr> {% endif %}
                </tr>
                {% if record.metadata|length > 4 %} <tr>
                <td class="w-auto">Advanced metadata:</td>
                
                <td class=""><div class="callout m-0 p-2" style="max-height: 200pt;overflow-y: auto;"><code>{{record.metadata|pretty_json|safe }})</code></div></td>
                </tr> {% endif %}
            </tbody>
          </table>
          


    </div>
</div>
</ul>

</div>


<div class="card my-4">
    <div class="card-header">
        <h3>Graphs:</h3>
    </div>
    <div class="card-body p-1">
        <div id="graph1" style="width:100%;height:1000px;"></div>
    </div>
</div>

<!-- 
<div class="card my-4">
    <div class="card-header">
        <h3>Energetic spectrogram:</h3>
    </div>
    <div class="card-body p-1">
        <div id="graph2" style="width:100%;height:1000px;"></div>
    </div>
</div> -->

</div>

<script>




    function makeDataZoom(opt) {
        return Object.assign(
            {
                type: 'slider',
                filterMode: 'empty',
                realtime: false
            },
            opt
        );
    }


    var myChart = echarts.init(document.getElementById('graph1'), {
        width: 'auto',
    });

    myChart.setOption({
        title: [{
            left: 'center',
            text: 'Counts evolution',
        }, {
            left: 'center',
            text: 'Energy spectrum',
            top: '52%',
        }],
        tooltip: {
            trigger: 'axis',
            axisPointer: { type: 'cross' }
        },
        toolbox: {
            right: 10,
            feature: {

                restore: {},
                saveAsImage: {}
            }
        },
        legend: {
            data: ['CTS']
        },
        grid: [
            {
                left: '5%',
                right: '5%',
                height: '40%',
                bottom: '58%'
            },
            {
                left: '5%',
                right: '5%',
                height: '40%',
                bottom: '8%',
            }
        ],
        dataZoom: [
            makeDataZoom({
                height: '5%',
                bottom: '50%',
                xAxisIndex: 0
            }),
            makeDataZoom({
                height: '5%',
                bottom: 0,
                xAxisIndex: 1
            }),
        ],
        xAxis: [{
            {% if record.time_tracked %} type: 'time', {% else %} type: 'value', {% endif %}
            
            // min: 'dataMin',
            //max: 'dataMax'
        }, {
            gridIndex: 1,
            //type: 'time',
            min: 'dataMin',
            max: 'dataMax'
        }],
        yAxis: [{
            min: 'dataMin',
            //max: 'dataMax',
            type: 'log',
            logBase: 1000,
            boundaryGap: [0, '100%']
        }, {
            gridIndex: 1,
            min: 'dataMin',
            max: 'dataMax',
            type: 'log',
            logBase: 5000,
            //boundaryGap: [0, '100%']
        }],
        series: [
            {
                datasetId: 'evolution',
            },
            {
                datasetId: 'spectrum',
            }
        ]

    });
    myChart.on('datazoom', function (event) {
        update_chart();
    });
    myChart.showLoading()



/*
var chartDom = document.getElementById('graph2');
var myChart2 = echarts.init(chartDom);



option = {
  tooltip: {
    position: 'top'
  },
 // grid: {
 //   height: '50%',
 //   top: '10%'
 // },
  xAxis: {
    type: 'category',
    //data: hours,
    splitArea: {
      show: true
    }
  },
  yAxis: {
    type: 'category',
    //data: days,
    splitArea: {
      show: true
    }
  },
  visualMap: {
    min: 0,
    max: 10,
    calculable: true,
    orient: 'horizontal',
    left: 'center',
    bottom: '15%'
  },
  series: [

  ]
};

option && myChart2.setOption(option);
myChart2.showLoading();

*/
    

    function update_chart() {

        var dataZoomRanges = myChart.getOption().dataZoom;

        console.log("A...");
        console.log(dataZoomRanges[0].startValue, dataZoomRanges[0].endValue);
        console.log(dataZoomRanges[1].startValue, dataZoomRanges[1].endValue);

        myChart.showLoading();

        $.get("./get_spectrum/", { minEnergy: dataZoomRanges[0].startValue, maxEnergy: dataZoomRanges[0].endValue }).done(function (data) {
            console.log(data);
            myChart.hideLoading();

            myChart.setOption({
                series: [{
                    id: 'spectrum',
                    data: data.spectrum_values,
                    name: 'Energetic spectrum',
                    type: 'scatter',
                    xAxisIndex: 1,
                    yAxisIndex: 1,
                    encode: { x: 'energy', y: 'cts' },
                    symbolSize: 5,
                }],
            });
        });

        $.get("./get_evolution/", { minTime: dataZoomRanges[1].startValue, maxTime: dataZoomRanges[1].endValue }).done(function (data) {

            console.log(data);
            myChart.hideLoading();

            myChart.setOption({
                series: [{
                    id: 'evolution',
                    data: data.evolution_values,
                    type: 'scatter',
                    name: 'cts',
                    type: 'scatter',
                    xAxisIndex: 0,
                    yAxisIndex: 0,
                    encode: { x: 'time', y: 'cts' },
                    symbolSize: 5,
                }],
            });

        });


        
        /*

        $.get("./get_histogram/").done(function (data) {
        //$.get("./get_evolution/").done(function (data) {

            console.log(data.histogram_values);

            var val = data.histogram_values.map(function (item) {
                return [item[1], item[0], item[2] || '-'];
            });

            //var val = [[2, 0, 100.0], [2, 1, 100.0], [2, 2, 100.0], [2, 3, 0.0], [2, 4, 0.0], [2, 5, 0.0]];
            val = data.histogram_values;
            console.log(val);
            myChart2.hideLoading();

            myChart2.setOption({
                series: {
                    id: 'histogram',
                    type: 'heatmap',
                    data: val,
                 //   label: {
                 //       show: true
                 //   },
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                },
            });

        });*/


    }
    update_chart();

</script>


{% endblock %}